In [10]:
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.neural_network import MLPRegressor
from sklearn.externals import joblib
import time
import pandas as pd
import numpy as np

In [5]:
data = pd.read_csv('house_price.csv')
data = data.iloc[:,1:]
data.head()

       Location  BHK  Furnishing  Sq.ft  Old(years)  Floor  Price
0  Bommanahalli    3           1   3000           1      3  28000
1  Bommanahalli    3           1   1650          10      0  18000
2    Whitefield    2           0   1000           5      3  16400
3    Whitefield    3           0   1600           1      9  27000
4    Whitefield    2           1   1200           5      1  20000

In [14]:
enc= LabelEncoder()
data.iloc[:,1] = enc.fit_transform(data.iloc[:,1])

In [15]:
data.head()

       Location  BHK  Furnishing  Sq.ft  Old(years)  Floor  Price
0  Bommanahalli    1           1   3000           1      3  28000
1  Bommanahalli    1           1   1650          10      0  18000
2    Whitefield    0           0   1000           5      3  16400
3    Whitefield    1           0   1600           1      9  27000
4    Whitefield    0           1   1200           5      1  20000

In [18]:
X = data.drop('Price', axis=1)
y = data['Price']

         Location  BHK  Furnishing  Sq.ft  Old(years)  Floor
0    Bommanahalli    1           1   3000           1      3
1    Bommanahalli    1           1   1650          10      0
2      Whitefield    0           0   1000           5      3
3      Whitefield    1           0   1600           1      9
4      Whitefield    0           1   1200           5      1
5      Whitefield    1           1   1760           5      8
6      Whitefield    1           1   1870          10      3
7      Whitefield    1           0   2200           1     10
8      Whitefield    1           0   2100           1      7
9      Whitefield    1           0   1704           5     13
10     Whitefield    0           0   1326           1      3
11     Whitefield    0           0   1000           5      3
12     Whitefield    0           0   1088           5      1
13   Bommanahalli    1           0   1744           1      2
14     Whitefield    0           0   1060           5      1
15   Bommanahalli    0           0    950           5      1
16     Whitefield    1           0   3155           1      1
17   Bommanahalli    1           1   3000           1      3
18     Whitefield    0           0   1280           5      3
19     Whitefield    1           0   3155           1      1
20     Whitefield    1           1   1760           5      8
21   Bommanahalli    0           0   1033           5      0
22   Bommanahalli    0           0   1135          10      2
23   Bommanahalli    1           1   1471          10      3
24     Whitefield    0           0   1000           1      3
25     Whitefield    1           0   2292           5     12
26     Whitefield    0           0   1290           1     10
27     Whitefield    0           0   1290           1     10
28   Bommanahalli    0           0   1089           5      2
29   Bommanahalli    1           1   1250           1      1
..            ...  ...         ...    ...         ...    ...
970  Bommanahalli    0           0    950           5      1
971    Whitefield    0           1   1245           5      1
972    Whitefield    0           1   1200           5      1
973  Bommanahalli    0           0   1033           5      0
974    Whitefield    0           0   1060           1      1
975    Whitefield    0           0   1280           5      3
976    Whitefield    0           0   1290           1     10
977  Bommanahalli    1           0   1744           1      2
978  Bommanahalli    1           0   1375           5      3
979  Bommanahalli    0           1    767           1      3
980    Whitefield    0           0   1000           1      3
981  Bommanahalli    0           1   1089           5      2
982  Bommanahalli    0           0   1400           5      2
983  Bommanahalli    1           1   1250           1      1
984    Whitefield    1           0   1600           1      9
985    Whitefield    0           0   1326           1      3
986    Whitefield    1           0   2180           1     11
987    Whitefield    0           0   1333           1      3
988    Whitefield    1           0   2180           1     11
989    Whitefield    0           0   1326           1      3
990    Whitefield    1           0   1600           1      9
991    Whitefield    0           0   1088           5      1
992  Bommanahalli    1           1   1460           1      2
993    Whitefield    0           0   1290           1     10
994    Whitefield    0           0   1060           1      1
995  Bommanahalli    1           1   1460           1      2
996    Whitefield    1           0   2100           1      7
997  Bommanahalli    0           0   1033           5      0
998  Bommanahalli    1           0   1500          10      1
999    Whitefield    1           1   1768           5     11

[1000 rows x 6 columns]

In [22]:
X= pd.get_dummies(X,drop_first=True)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 1)
X_train

     BHK  Furnishing  Sq.ft  Old(years)  Floor  Location_Whitefield
382    0           0   1060           5      1                    1
994    0           0   1060           1      1                    1
982    0           0   1400           5      2                    0
47     0           1   1089           5      2                    0
521    0           0    960          10      3                    0
636    0           0   1280           5      3                    1
19     1           0   3155           1      1                    1
366    0           1   1300           5      3                    0
340    0           0    960          10      3                    0
952    0           0    960          10      3                    0
675    0           1   1600           5      4                    1
306    1           1   1460           1      2                    0
835    0           0   1050          10      2                    0
429    1           0   1250           1      1                    0
823    1           0   1250           1      1                    0
304    1           0   1250           1      1                    0
355    0           1    767           1      3                    0
177    0           0    950           5      1                    0
945    0           0   1326           1      3                    1
60     1           0   1704           5     13                    1
309    1           0   2100           1      7                    1
892    0           0    950           5      1                    0
301    0           0   1060           1      1                    1
920    0           0   1089           5      2                    0
594    0           0   1000           1      3                    1
761    0           0    960          10      3                    0
107    0           0   1060           5      1                    1
747    1           1   1870          10      3                    1
988    1           0   2180           1     11                    1
806    0           1    767           1      3                    0
..   ...         ...    ...         ...    ...                  ...
398    0           0   1033           5      0                    0
925    0           0   1280           5      3                    1
668    1           0   1500          10      1                    0
490    0           1   1089           5      2                    0
252    1           0   2200           1     10                    1
907    1           0   1250           1      1                    0
468    0           1    767           1      3                    0
914    0           1   1089           5      2                    0
357    0           1   1200           5      4                    0
254    0           0    960          10      3                    0
276    1           0   1500          10      1                    0
178    0           1   1245           5      1                    1
281    0           1   1300           5      3                    0
390    1           0   1375           5      3                    0
508    0           0   1000           1      3                    1
749    1           1   3000           1      3                    0
583    1           1   1768           5     11                    1
972    0           1   1200           5      1                    1
129    0           0   1280           5      3                    1
144    0           0   1089           5      2                    0
960    1           0   1600           1      9                    1
847    0           1   1300           5      3                    0
645    1           0   2200           1     10                    1
715    1           0   1744           1      2                    0
905    1           0   2200           1     10                    1
767    0           1   1600           5      4                    1
72     0           1   1200           5      4                    0
908    0           1   1300           5      3                    0
235    1           0   1600           1      9                    1
37     1           0   2180           1     11                    1

[800 rows x 6 columns]

In [27]:
start = time.time()
mlp = MLPRegressor(hidden_layer_sizes=(100,100,100), activation="relu", batch_size=10, learning_rate_init=0.001, max_iter=400, random_state=1)
mlp.fit(X_train, y_train)
end = time.time()
print(end-start)

pred = mlp.predict(X_test)
r2_score(y_test, pred)

0.7932016849517822

0.685577328140374

In [28]:
joblib.dump(mlp, 'house_price.sav')

['house_price.sav']